code {
	color: var(--azure-800);
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}

pre code {
	color: var(--azure-800);
	max-width: 100%;
	display: block;
	background: none;
	white-space: pre;
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
	min-width: 100px;
	padding: 0;
}

pre {
	overflow-y: hidden;
	overflow-x: hidden;
	border: 1px solid var(--blue-gray-200);
	padding: 0px 10px;
	border-radius: 5px;
}
