.border-1 {
	border-style: solid;
	border-width: 1px;
}
.border-2 {
	border-style: solid;
	border-width: 2px;
}
.border-3 {
	border-style: solid;
	border-width: 3px;
}
.border-4 {
	border-style: solid;
	border-width: 4px;
}
.border-5 {
	border-style: solid;
	border-width: 5px;
}
.border-6 {
	border-style: solid;
	border-width: 6px;
}
.border-7 {
	border-style: solid;
	border-width: 7px;
}
.border-8 {
	border-style: solid;
	border-width: 8px;
}
.border-9 {
	border-style: solid;
	border-width: 9px;
}
.border-10 {
	border-style: solid;
	border-width: 10px;
}
.border-11 {
	border-style: solid;
	border-width: 11px;
}
.border-12 {
	border-style: solid;
	border-width: 12px;
}
.border-13 {
	border-style: solid;
	border-width: 13px;
}
.border-14 {
	border-style: solid;
	border-width: 14px;
}
.border-15 {
	border-style: solid;
	border-width: 15px;
}
.border-16 {
	border-style: solid;
	border-width: 16px;
}
.border-17 {
	border-style: solid;
	border-width: 17px;
}
.border-18 {
	border-style: solid;
	border-width: 18px;
}
.border-19 {
	border-style: solid;
	border-width: 19px;
}
.border-20 {
	border-style: solid;
	border-width: 20px;
}
.border-21 {
	border-style: solid;
	border-width: 21px;
}
.border-22 {
	border-style: solid;
	border-width: 22px;
}
.border-23 {
	border-style: solid;
	border-width: 23px;
}
.border-24 {
	border-style: solid;
	border-width: 24px;
}
.border-25 {
	border-style: solid;
	border-width: 25px;
}
.border-26 {
	border-style: solid;
	border-width: 26px;
}
.border-27 {
	border-style: solid;
	border-width: 27px;
}
.border-28 {
	border-style: solid;
	border-width: 28px;
}
.border-29 {
	border-style: solid;
	border-width: 29px;
}
.border-30 {
	border-style: solid;
	border-width: 30px;
}
.border-31 {
	border-style: solid;
	border-width: 31px;
}
.border-32 {
	border-style: solid;
	border-width: 32px;
}
.border-33 {
	border-style: solid;
	border-width: 33px;
}
.border-34 {
	border-style: solid;
	border-width: 34px;
}
.border-35 {
	border-style: solid;
	border-width: 35px;
}
.border-36 {
	border-style: solid;
	border-width: 36px;
}
.border-37 {
	border-style: solid;
	border-width: 37px;
}
.border-38 {
	border-style: solid;
	border-width: 38px;
}
.border-39 {
	border-style: solid;
	border-width: 39px;
}
.border-40 {
	border-style: solid;
	border-width: 40px;
}
.border-41 {
	border-style: solid;
	border-width: 41px;
}
.border-42 {
	border-style: solid;
	border-width: 42px;
}
.border-43 {
	border-style: solid;
	border-width: 43px;
}
.border-44 {
	border-style: solid;
	border-width: 44px;
}
.border-45 {
	border-style: solid;
	border-width: 45px;
}
.border-46 {
	border-style: solid;
	border-width: 46px;
}
.border-47 {
	border-style: solid;
	border-width: 47px;
}
.border-48 {
	border-style: solid;
	border-width: 48px;
}
.border-49 {
	border-style: solid;
	border-width: 49px;
}
.border-50 {
	border-style: solid;
	border-width: 50px;
}
